
@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-Light.eot');
	src: local('Neue Plak Text Light'), local('../fonts/NeuePlakText-Light'),
		url('../fonts/NeuePlakText-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-Light.woff2') format('woff2'),
		url('../fonts/NeuePlakText-Light.woff') format('woff'),
		url('../fonts/NeuePlakText-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-BlackItalic.eot');
	src: local('Neue Plak Text Black Italic'), local('../fonts/NeuePlakText-BlackItalic'),
		url('../fonts/NeuePlakText-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-BlackItalic.woff2') format('woff2'),
		url('../fonts/NeuePlakText-BlackItalic.woff') format('woff'),
		url('../fonts/NeuePlakText-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-SemiBold.eot');
	src: local('Neue Plak Text SemiBold'), local('../fonts/NeuePlakText-SemiBold'),
		url('../fonts/NeuePlakText-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-SemiBold.woff2') format('woff2'),
		url('../fonts/NeuePlakText-SemiBold.woff') format('woff'),
		url('../fonts/NeuePlakText-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-Italic.eot');
	src: local('Neue Plak Text Italic'), local('../fonts/NeuePlakText-Italic'),
		url('../fonts/NeuePlakText-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-Italic.woff2') format('woff2'),
		url('../fonts/NeuePlakText-Italic.woff') format('woff'),
		url('../fonts/NeuePlakText-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-Black.eot');
	src: local('Neue Plak Text Black'), local('../fonts/NeuePlakText-Black'),
		url('../fonts/NeuePlakText-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-Black.woff2') format('woff2'),
		url('../fonts/NeuePlakText-Black.woff') format('woff'),
		url('../fonts/NeuePlakText-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-SemiBoldItalic.eot');
	src: local('Neue Plak Text SemiBold Italic'), local('../fonts/NeuePlakText-SemiBoldItalic'),
		url('../fonts/NeuePlakText-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-SemiBoldItalic.woff2') format('woff2'),
		url('../fonts/NeuePlakText-SemiBoldItalic.woff') format('woff'),
		url('../fonts/NeuePlakText-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-Thin.eot');
	src: local('Neue Plak Text Thin'), local('../fonts/NeuePlakText-Thin'),
		url('../fonts/NeuePlakText-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-Thin.woff2') format('woff2'),
		url('../fonts/NeuePlakText-Thin.woff') format('woff'),
		url('../fonts/NeuePlakText-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-LightItalic.eot');
	src: local('Neue Plak Text Light Italic'), local('../fonts/NeuePlakText-LightItalic'),
		url('../fonts/NeuePlakText-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-LightItalic.woff2') format('woff2'),
		url('../fonts/NeuePlakText-LightItalic.woff') format('woff'),
		url('../fonts/NeuePlakText-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-Bold.eot');
	src: local('Neue Plak Text Bold'), local('../fonts/NeuePlakText-Bold'),
		url('../fonts/NeuePlakText-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-Bold.woff2') format('woff2'),
		url('../fonts/NeuePlakText-Bold.woff') format('woff'),
		url('../fonts/NeuePlakText-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-ThinItalic.eot');
	src: local('Neue Plak Text Thin Italic'), local('../fonts/NeuePlakText-ThinItalic'),
		url('../fonts/NeuePlakText-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-ThinItalic.woff2') format('woff2'),
		url('../fonts/NeuePlakText-ThinItalic.woff') format('woff'),
		url('../fonts/NeuePlakText-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Plak Text';
	src: url('../fonts/NeuePlakText-BoldItalic.eot');
	src: local('Neue Plak Text Bold Italic'), local('../fonts/NeuePlakText-BoldItalic'),
		url('../fonts/NeuePlakText-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeuePlakText-BoldItalic.woff2') format('woff2'),
		url('../fonts/NeuePlakText-BoldItalic.woff') format('woff'),
		url('../fonts/NeuePlakText-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

$themeColor: #FF2A00;
$textColor: #898989;
$headingColor: #000;
$fontFamily: 'Neue Plak Text';
$gradientColor:linear-gradient(90deg, #FF5200 -2.31%, #FF2A00 100%);

body{
	font-family: $fontFamily;
	font-size: 14px;
	line-height: 1.34;
	color: $headingColor;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $fontFamily;
		color: $headingColor;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	p {
		margin-bottom: 0;
	}

	a,
	button {
		transition: all 0.4s ease;
		text-decoration: none;
		cursor: pointer;
	}

	input {
		transition: all 0.4s ease-in-out 0s;
	}

	a {
		color: $headingColor;

		&:hover {
			color: $themeColor;
		}
	}

	button {
		&:focus {
			outline: none;
		}
	}

	img {
		max-width: 100%;
		color: transparent;
	}

	a:active,
	a:hover,
	a:focus {
		text-decoration: none;
	}
	 @media (min-width: 1400px) {
	 	.container {
	 		max-width: 1380px;
	 	}
	 }
}

.header-area{
	background: #fff;
	min-height: 100px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: transform 0.4s;
	z-index: 3;
	@media (max-width:767px) {
		min-height: 70px;
	}
}


.scroll-down .header-area {
	transform: translate3d(0, -100%, 0);
}

.scroll-up .header-area {
	transform: none;
}

.scroll-up .header-area {
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.logo{
	img{
		height: 40px;
		@media (max-width:767px) {
			height: 25px;
		}
	}
}
.mainmenu{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	li{
		margin-right: 35px;
		&:last-child{
			margin-right: 0;
		}
		a{
			display: block;
			font-weight: 700;
			font-size: .875rem;
			padding: 37px 0;

			i{
				font-weight: 600;
				margin-left: 5px;
				transition: all .4s ease-in-out 0s;
			}
			&.active{
				color: $themeColor;
				i{
					transform: rotate(180deg);
				}
			}
		}
	}
}
.megamenu{
	position: absolute;
	left: 0;
	top: 90%;
	background: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	width: 100%;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
	padding-top: 30px;
	transition: all .4s ease-in-out 0s;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	&.active{
		visibility: visible;
		opacity: 1;
		z-index: 11;
		top: 100%;
	}
}
.mainmenu-item{
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	.menu-img{
		margin-right: 22px;
	}
	.menu-content{
		.name{
			display: block;
			font-size: 20px;
			line-height: 22px;
			font-weight: 600;
		}
		.label{
			display: block;
			font-size: 16px;
			color: $textColor;
		}
	}
}
.menu-title{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
}
.hero-area{
	padding: 250px 0px 150px;
	@media (max-width:767px) {
		background: url(../images/bg.jpg) no-repeat center center / cover!important;
		padding: 130px 0px 80px;
	}
}
.hero-wrap{
	h2{
		font-size: 4rem;
		text-transform: uppercase;
		color: #fff;
		font-weight: 800;
		line-height: .8438;
		margin-bottom: 50px;
		letter-spacing: -0.02em;
		font-family:$fontFamily;
		white-space: inherit;
		max-width: 430px;
		@media (max-width:767px) {
			font-size: 40px;
			line-height: 34px;
			margin-bottom: 30px;
		}
	}
	p{
		font-size: 1.25rem;
		line-height: 1.5;
		color: #fff;
		margin-bottom: 80px;
		font-weight: 500;
		@media (max-width:767px) {
			margin-bottom: 50px;
		}
	}
	.hero-info{
		li{
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			min-height: 150px;
			padding: 30px 0px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			&:first-child{
				border-top: 1px solid rgba(255, 255, 255, 0.2);
			}
			@media (max-width:767px) {
				min-height: 80px;
				padding: 20px 0px;
			}
			span{
				font-size: 28px;
				font-weight: 600;
				text-transform: uppercase;
				line-height: 24px;
				color: #fff;
				max-width: 70%;
				@media (max-width:767px) {
					font-size: 20px;
					line-height: 18px;
				}
			}
			a{
				min-width: 60px;
				min-height: 40px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border: 1px solid rgba(255, 255, 255, 0.4);
				border-radius: 30px;
				svg{
					fill: #fff;
					transition: all .4s ease-in-out 0s;
				}
				&:hover{
					background: #fff;
					border-color: #fff;
					svg{
						fill: $headingColor;
					}
				}
			}
		}
	}
}
.details-content-area {
	background: #e5e5e5;
	padding: 120px 0px 100px;
	@media (max-width:767px) {
		padding: 80px 0px 60px;
	}
	p{
		margin-bottom: 25px;
		font-size: 1.112rem;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.footer-area{
	background: #1c1e20;
	@media (max-width:767px) {
		padding: 0px 15px;
	}
}
.footer-top{
	padding: 30px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom: 80px;
	@media (max-width:767px) {
		margin-bottom: 50px;
	}
	p{
		font-size: 12px;
		font-weight: 300;
		line-height: 16px;
		color: #666;
		margin-bottom: 12px;
	}
}
.footer-info{
	.footer-logo{
		margin-bottom: 30px;
		@media (max-width:767px) {
			padding-bottom: 35px;
			border-bottom: 2px solid #fff;
			margin-bottom: 0;
		}
		img{
			height: 30px;
		}
	}
	.footer-info-menu{
		display: inline-block;
		@media (max-width:767px) {
			margin-bottom: 40px;
			display: none;
		}
		&:hover{
			li{
				a{
					color: rgba(255, 255, 255, 0.5);
				}
			}
		}
		li{
			line-height: 35px;
			@media (max-width:767px) {
				line-height: 20px;
			}
			a{
				font-size: 40px;
				display: inline-block;
				font-weight: 600;
				color: #fff;
				@media (max-width:767px) {
					font-size: 18px;
				}
				&:hover{
					color: #fff;
				}
			}
		}
	}
}
.footer-title{
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
	letter-spacing: .1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width:767px) {
		min-height: 75px;
		border-bottom:1px solid rgba(255, 255, 255, 0.2);
	}
	&.active{
		svg{
			transform: rotate(180deg);
		}
	}
	svg{
		display: none;
		cursor: pointer;
		fill: #fff;
		@media (max-width:767px) {
			display: block;
		}
	}
}
.footer-menu{
	margin-bottom: 30px;
	@media (max-width:767px) {
		display: none;
	}
	li{
		line-height: 32px;
		a{
			display: inline-block;
			color: #898989;
			font-size: 1rem;
			&:hover{
				color: #fff;
			}
		}
	}
}
.news-update{
	position: relative;
	margin-top: 80px;
	margin-bottom: 30px;
	@media (max-width:767px) {
		margin-top: 30px;
	}
	label{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 30px;
		color: #fff;
		transition: all .4s ease-in-out 0s;
		@media (max-width:767px) {
			font-size: 18px;
		}
	}
	&.active{
		label{
			transform: scale(.5) translateY(-80px) translateX(-130px);
		}
		input{
			&::placeholder{
				opacity: .7;
			}
		}
	}
	input{
		width: 100%;
		height: 70px;
		background: transparent;
		border: none;
		border-bottom: 2px solid rgba(255, 255, 255, 0.2);
		font-size: 24px;
		color: #fff;
		padding-right: 70px;
		position: relative;
		z-index: 1;
		@media (max-width:767px) {
			height: 60px;
		}
		&::placeholder{
			opacity: 0;
		}
		&:focus{
			outline: none;
			border-color: #fff;
		}
	}
	button{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		min-width: 60px;
		min-height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 40px;
		border: 1px solid rgba(255, 255, 255, 0.2);
		background: transparent;
		z-index: 11;
		&:hover{
			background: #fff;
			border-color: #fff;
			svg{
				fill: $headingColor;
			}
		}
		svg{
			fill: #fff;
			transition: all .4s ease-in-out 0s;
		}
	}
}
.social-share-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
	p{
		font-size: 12px;
		line-height: 15px;
		color: #666;
		max-width: 265px;
		@media (max-width:767px) {
			max-width: 100%;
			margin-bottom: 30px;
		}
		a{
			color: #666;
			text-decoration: underline;
			&:hover{
				color: $themeColor;
			}
		}
	}
	ul{
		display: flex;
		@media (max-width:767px) {
			justify-content: space-between;
			width: 100%;
		}
		li{
			margin-left: 30px;
			@media (max-width:767px) {
				margin-left: 0;    
			}
			&:last-child{
				margin-right: 0;
			}
			a{
				display: block;
				svg{
					fill: rgba(255, 255, 255, 0.4);
					transition: all .4s ease-in-out 0s;
				}
				&:hover{
					color: #fff;
					svg{
						fill: #fff;
					}
				}
			}
		}
	}
}
.footer-bottom-area{
	background: #181a1b;
	min-height: 90px;
	display: flex;
	align-items: center;
	@media (max-width:767px) {
		margin: 0px -15px;
	}
}
.copyright{
	color: #666;
	font-size: 12px;
}
.footer-bottom-menu{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	li{
		margin-left: 35px;
		@media (max-width:767px) {
			margin-left: 15px;
		}
		&:first-child{
			margin-left: 0;
		}
		a{
			display: block;
			font-size: 12px;
			color: #666;
			&:hover{
				color: $themeColor;
			}
		}
	}
}
.responsive-trigger{
	cursor: pointer;
	margin-right: 10px;
}
.responisve-menu-wrap{
	position: fixed;
	left: -400px;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	top: 0;
	max-height: 100vh;
	overflow: scroll;
	overflow-x: hidden;
	background: #fff;
	min-height: 100%;
	padding: 30px;
	min-width: 320px;
	transition: all .4s ease-in-out 0s;
	&.active{
		visibility: visible;
		opacity: 1;
		left: 0;
		z-index: 111;
	}
}
.responsive-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;

	a{
		img{
			height: 30px;
		}
	}
}
.responsive-mainmenu{
	li{
		a{
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 26px;
			font-weight: 600;
			min-height: 60px;
			letter-spacing: .1px;
		}
		.responisve-dropdown {
			display: none;
			li{
				.mainmenu-item{
					justify-content: flex-start;
				}
				.menu-title{
					font-size: 16px;
					font-weight: 600;
				}
			}
		}
	}
}